* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background: linear-gradient(to bottom, #1b408f, #121212);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  font-family: Arial, sans-serif;
  padding: 40px;
  color: ghostwhite;
}

.container {
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
}

.playlist-tittle {
  color: ghostwhite;
  margin-bottom: 40px;
}

/*estilos de tabla */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
  margin-top: 10px;
}

th,
td {
  height: 45px;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}

.thumb-column {
  width: 45px;
  height: inherit;
  vertical-align: middle;
}

.song-thumb {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 6px;
}

.song-row:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.download-cell {
  text-align: center;
}

.download-icon {
  background-color: #1db954; /* Spotify green */
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* estilos de recomendaciones */

.recomendations h2 {
  margin-bottom: 16px;
  margin-top: 32px;
}
.albums-flex {
  margin-top: 4px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  flex-direction: row;
}

.album {
  width: 180px;
  margin-bottom: 20px;
  text-align: center;
  flex-shrink: 0;
  padding: 5px;
}
.album img {
  width: 100%;
  border-radius: 6px;
  transition: transform 0.3s;
}

.album:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.album p {
  font-size: 1rem;
  margin-top: 8px;
}

.album span {
  color: #bbb;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .album {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .album {
    flex: 1 1 100%;
  }
}
